.svg-icon {
  fill: #ae8f63;
  height: 8vh;
  width: 7vw;
  font-size: 5rem;
  text-align: center;
}

.minicart {
  position: absolute;
  min-width: 18px;
  top: 30%;
  border-radius: 50%;
  background: #8b233f;
  color: #fff;
  padding: 0 2px;
  margin: 9px;
  line-height: 18px;
  font-size: 12px;
}
